#include "../../../models/settings.hpp"
#include "../../../views/layout.hpp"
#include "../../../views/injector.hpp"
#include "../../../lib/assets.hpp"
#include <iomanip>

const Crails::Cms::Settings& @settings;
const Crails::Cms::Layout& @cms_layout;
const Crails::Cms::LayoutVariables variables = cms_layout.get_variables();
std::string @form_id;
std::string @field_name;
std::string @mode = "default";

// END LINKING

<div data-role="injector-list">
  <% for (const std::string_view name : Crails::Cms::Injector::available_injectors()) do -%>
    <div data-name="<%= name %>"></div>
  <% end -%>
</div>

<% if (variables.size()) do -%>
  <%= render_css_variables(variables, settings.get_theme_settings()) %>
<% end -%>

<% for (const auto& stylesheet : cms_layout.get_editor_stylesheets()) do %>
  <%= tag("link", {{"rel","stylesheet"},{"href",stylesheet}}) %>
<% end %>

<% for (const auto& javascript : cms_layout.get_editor_javascripts()) do %>
  <%= tag("script", {{"src",javascript}}) %>
<% end %>

<script>
<% switch (cms_layout.get_type()) do -%>
<% case Crails::Cms::DocumentLayoutType: -%>

  Cms.initializers.CKEditor("<%= field_name %>");

<% break -%>
<% case Crails::Cms::HtmlLayoutType: -%>

  Cms.HtmlTextArea.create("<%= field_name %>");

<% break -%>
<% case Crails::Cms::ComponentLayoutType: -%>

  const stylesheets = [];
  const javascripts = [<%= std::quoted(CrailsCmsAssets::admin_js) %>];

  stylesheets.push(<%= std::quoted(CrailsCmsAssets::content_tools_css) %>);
  <% for (const auto& stylesheet : cms_layout.get_stylesheets()) do -%>
    stylesheets.push(<%= std::quoted(stylesheet) %>);
  <% end -%>

  Cms.PageEditor.create(
    <%= cms_layout.get_component_layout_name() %>,
    document.querySelector("#<%= form_id %>"),
    "<%= field_name %>",
    "<%= mode %>",
    { stylesheets, javascripts }
  ).then(function(pageEditor) {
    window.pageEditor = pageEditor;
    if (typeof crailscms_on_content_loaded == "function")
      crailscms_on_content_loaded(pageEditor.root);
  });

<% break -%>
<% end -%>
</script>
