#include <crails/i18n.hpp>
#include <crails/html_form_builder.hpp>
#include "../../../routes.hpp"
#include "../../../plugins.hpp"
#include "../../../models/settings.hpp"
#include "../../../views/style.hpp"
#include "../../../views/layout.hpp"
#include <crails/logger.hpp>

const Crails::Cms::LocalRoute route = Crails::Cms::LocalRoute(vars);
const Crails::Cms::Style& style = Crails::Cms::Style::singleton::require();
const Crails::Cms::Plugins* plugins = Crails::Cms::Plugins::singleton::get();
const Crails::Cms::Settings& @model;
Crails::FormBuilder<Crails::Cms::Settings> form = Crails::FormBuilder<Crails::Cms::Settings>(this, model);
std::map<std::string, std::string> @plugin_options;

using namespace Crails::Cms;
using namespace Crails;

// END LINKING

<% 
  logger << Logger::Error << "show_plugins: view-debug#1" << Logger::endl;
%>

<% if (plugins) do -%>
  <ul id="cms-plugins-view">
    <% for (const auto& plugin_name : plugins->get_plugin_names()) do -%>
      <li>
        <%= partial("admin/_plugin", {{"plugin_name", plugin_name}}) %>
      </li>
    <% end -%>
  </ul>

<% 
  logger << Logger::Error << "show_plugins: view-debug#2" << Logger::endl;
%>

  <%= form_for(model, route(), {
    {"id", "main-form"},
    {"style", "display:none"}
  }) yields %>

    <%= hidden_field(form.scoped_name("with_plugins"), "yes") %>

    <%= style.form_group() yields %>
      <%= form.label_for("plugins", i18n::t("form.label.plugins")) %>
      <%= form.select_field<std::string>("plugins", plugin_options, model.get_plugins()) %>
    <% yields-end %>

  <% yields-end %>

  <div class="<%= style.button_group_classes() %>">
    <%= style.admin_submit_button("main-form") %>
  </div>
<% end else do -%>
  <h4><%= i18n::t("admin.plugins-are-disabled") %></h4>
<% end -%>

<% 
  logger << Logger::Error << "show_plugins: view-debug#3" << Logger::endl;
%>
