#include <crails/i18n.hpp>
#include <crails/html_form_builder.hpp>
#include <crails/icons.hpp>
#include "../../../routes.hpp"
#include "../../../models/settings.hpp"
#include "../../../views/style.hpp"
#include "../../../views/layout.hpp"
#include "../../../plugins.hpp"

const Crails::Cms::LocalRoute route = Crails::Cms::LocalRoute(vars);
const Crails::Cms::Style& style = Crails::Cms::Style::singleton::require();
const Crails::Cms::Plugins* plugins = Crails::Cms::Plugins::singleton::get();
const Crails::Cms::Settings& @model;
Crails::FormBuilder<Crails::Cms::Settings> form = Crails::FormBuilder<Crails::Cms::Settings>(this, model);
std::map<Crails::Odb::id_type, std::string> @page_options;

using namespace Crails::Cms;

// END LINKING

<%= form_for(model, route(), {
  {"id", "main-form"},
  {"class", style.form_classes()}
}) yields %>

  <h4><%= i18n::t("admin.settings-presentation") %></h4>

  <%= style.form_group() yields %>
    <%= form.label_for("title", i18n::t("form.label.title")) %>
    <%= form.text_field("title", &Crails::Cms::Settings::get_title) %>
  <% yields-end %>

  <%= style.form_group(Crails::Cms::ClassList("thumbnail-form-group")) yields %>
    <%= form.label_for("favicon", i18n::t("form.label.favicon")) %>
    <%= form.text_field("favicon", &Crails::Cms::Settings::get_favicon) %>
    <%= tag("button", {{"class", style.button_classes()}}) yields %>
      <%= Crails::fonticon_tag(Crails::FontIcon::FilePicture) %>
      <%= i18n::t("admin.image-library") %>
    <% yields-end %>
    <img />
  <% yields-end %>

  <%= style.form_group(Crails::Cms::ClassList("theme-form-group")) yields %>
    <%= form.label_for("theme", i18n::t("form.label.theme")) %>
    <%= form.select_field("theme",
          Crails::Cms::Layouts::singleton::get()->get_theme_options(),
          &Crails::Cms::Settings::get_theme) %>
    <%= tag("a", {{"href", route.make("layout")}, {"class", style.button_classes()}}) yields %>
      <%= Crails::fonticon_tag(Crails::FontIcon::Settings) %>
      <%= i18n::t("admin.layout-edit") %>
    <% yields-end %>
  <% yields-end -%>

  <%= style.form_group() yields %>
    <%= form.label_for("homepage", i18n::t("form.label.homepage")) %>
    <%= form.select_field("homepage", page_options, &Crails::Cms::Settings::get_homepage_id) %>
  <% yields-end %>

  <h4><%= i18n::t("admin.settings-advanced") %></h4>

  <%= style.form_group() yields %>
    <%= form.label_for("enable_user_subscribe", i18n::t("form.label.enable_user_subscribe")) %>
    <%= form.boolean_field("enable_user_subscribe", &Crails::Cms::Settings::get_enable_user_subscribe) %>
  <% yields-end %>

  <%= style.form_group() yields %>
    <%= form.label_for("public_url", i18n::t("form.label.public_url")) %>
    <%= form.text_field("public_url", &Crails::Cms::Settings::get_public_url) %>
  <% yields-end %>

  <% if (plugins && plugins->has_available_plugins()) do -%>
    <%= style.form_group() yields %>
      <%= form.label_for("plugins", i18n::t("form.label.plugins")) %>
      <%= tag("a", {{"href", route.make("plugins")}, {"class", style.button_classes()}}) yields %>
        <%= Crails::fonticon_tag(Crails::FontIcon::Plugin) %>
        <%= i18n::t("admin.plugins-edit") %>
      <% yields-end %>
    <% yields-end %>
  <% end -%>

  <h4><%= i18n::t("admin.settings-analytics") %></h4>

  <%= style.form_group() yields %>
    <%= form.label_for("webmention_url", i18n::t("form.label.webmention_url")) %>
    <%= form.text_field("webmention_url", &Crails::Cms::Settings::get_webmention_url) %>
  <% yields-end %>

  <%= style.form_group() yields %>
    <%= form.label_for("matomo_url", i18n::t("form.label.matomo_url")) %>
    <%= form.text_field("matomo_url", &Crails::Cms::Settings::get_matomo_url) %>
  <% yields-end %>

  <%= style.form_group() yields %>
    <%= form.label_for("matomo_id", i18n::t("form.label.matomo_id")) %>
    <%= form.number_field("matomo_id", &Crails::Cms::Settings::get_matomo_id) %>
  <% yields-end %>
<% yields-end %>

<div class="<%= style.button_group_classes() %>">
  <%= style.admin_submit_button("main-form") %>
</div>
