.proudcms-paginator {
  padding: 1em 0;
  text-align: center;
}

.pure-g > div {
  box-sizing: border-box;
}

.post-contents {
  img {
    max-width: 100%;
  }

  figure {
    margin: 1em 1em 0 0;
  }
}
