#include <crails/html_form_builder.hpp>
#include <crails/i18n.hpp>
#include "../../../routes.hpp"
#include "../../../models/settings.hpp"
#include "../../../models/page.hpp"
#include "../../../views/style.hpp"
#include "../../../views/layout.hpp"

const Crails::Cms::Settings& @settings;
const Crails::Cms::Style& style = Crails::Cms::Style::singleton::require();
const Crails::Cms::LocalRoute route = Crails::Cms::LocalRoute(vars);
const Crails::Cms::Page& @model;
const Crails::Cms::Layout& proudcms_layout = model.get_layout();
Crails::FormBuilder<Crails::Cms::Page> form = Crails::FormBuilder<Crails::Cms::Page>(this, model);
const std::string url = route.make(model.get_id());
std::string @extra_partial = "admin/pages/_form_extra";

using namespace Crails::Cms;
// END LINKING

<%= form_for(model, route(), {{"class", style.form_classes()},{"id","main-form"}}) yields %>
  <div class="aligned-inputs">
    <div class="<%= style.form_group_classes() %>">
      <%= form.label_for("title", i18n::t("form.label.title")) %>
      <%= form.text_field("title", &Crails::Cms::Page::get_title, {{"maxlength",std::to_string(Crails::Cms::Editable::title_length)}}) %>
    </div>

    <%= style.form_group() yields %>
      <%= form.label_for("layout", i18n::t("form.label.layout")) %>
      <%= form.select_field("layout",
            Crails::Cms::Layouts::singleton::get()->get_layout_options(settings.get_theme()),
            &Crails::Cms::Page::get_layout_name) %>
    <% yields-end -%>

    <%= style.form_group() yields %>
      <%= form.label_for("slug", i18n::t("form.label.slug")) %>
      <%= form.text_field("slug", &Crails::Cms::Page::get_slug, {{"maxlength",std::to_string(Crails::Cms::Editable::slug_length)}}) %>
    <% yields-end -%>
  </div>

  <div class="opengraph-form">
    <%= partial("admin/opengraph_form", {
      {"form", reinterpret_cast<Crails::FormBuilderBase*>(&form)},
      {"model", reinterpret_cast<const Crails::Cms::Editable*>(&model)}
    }) %>
  </div>

  <% if (has_partial(extra_partial)) do -%>
    <!-- extra partial <%= extra_partial %> -->
    <%= partial(extra_partial, {{"form", &form}}) %>
  <% end else do -%>
    <!-- no extra partial -->
  <% end -%>

  <%= form.text_area("body", model.get_body()) %>

  <%= form.hidden_field("has_footer", std::string(model.get_has_footer() ? "1" : "0")) %>

  <div class="proudcms-page-editor" style="position:relative" data-sticky-container>
  </div>
<% yields-end %>

<div class="<%= style.button_group_classes() %>">
  <%= style.admin_submit_button("main-form") %>
  <%= style.admin_preview_button(route.make("preview")) %>
  <% if (model.is_persistent()) do %>
    <%= style.admin_remove_button(*this, url) %>
  <% end %>
</div>

<script>
  const layoutSelector = document.querySelector("select[name='<%= form.scoped_name("layout") %>']");
  layoutSelector.addEventListener("change", function() {
    window.location.href = `${window.location.origin}${window.location.pathname}?with_cms_layout=${layoutSelector.value}`;
  });
</script>

<%= partial("admin/page_editor", {
  {"proudcms_layout", &proudcms_layout},
  {"form_id",         std::string("main-form")},
  {"field_name",      form.scoped_name("body")}
}) %>
