#include "../../../models/settings.hpp"
#include "../../../models/blog/post.hpp"
#include "../../../local_route.hpp"
#include "../../../views/layout.hpp"
#include "../../../views/style.hpp"
#include "../../../time.hpp"
#include <crails/i18n.hpp>

const Crails::Cms::Settings& @settings;
const Crails::Cms::Style& style = settings.get_style();
const Crails::Cms::LocalRoute route = Crails::Cms::LocalRoute(vars);
const std::vector<std::unique_ptr<Crails::Cms::BlogPost>>& @models;
bool @is_injected = false;
std::string theme_overload = settings.get_layout().get_name() + "/blog/index" + (is_injected ? "-injection" : "");
int index = 1;

// END LINKING
<% if (has_partial(theme_overload)) do -%>
  <%= partial(theme_overload) %>
<% end else if (!is_injected) do -%>
  <% for (const auto& model : models) do -%>
    <%= style.section(index++, {}) yields %>
      <h2><%= html_escape(model->get_title()) %></h2>
      <div class="article-date">
        <%= time_to_string(model->get_publication_at(), i18n::t("short-date-format")) %>
      </div>
      <div class="article-description">
        <%= html_escape(model->get_description()) %>
      </div>
      <a href="<%= route.make(model->get_slug()) %>" data-id="<%= model->get_id() %>">
        <%= i18n::t("blog.read-more") %>
      </a>
    <% yields-end %>
  <% end -%>
  <%= partial("paginator") %>
<% end else if (is_injected) do -%>
  <% for (const auto& model : models) do -%>
    <%= style.card() yields %>
      <h2><%= html_escape(model->get_title()) %></h2>
      <div class="article-date">
        <%= time_to_string(model->get_publication_at(), i18n::t("short-date-format")) %>
      </div>
      <div class="article-description">
        <%= html_escape(model->get_description()) %>
      </div>
      <a href="<%= route.make(model->get_slug()) %>">
        <%= i18n::t("blog.read-more") %>
      </a>
    <% yields-end %>
  <% end -%>
<% end -%>
