@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

@mixin textarea-font {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 12pt;
  line-height: 20pt;
}

.html-editor {
  .btn-group:first-of-type {
    text-align: center;
  }
  .btn-group:last-of-type {
    text-align: right;
  }
}

.cms-html-textarea {
  height: calc(100vh - 200px);
  max-height: 600px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #a5a5a5;
  position: relative;

  > pre {
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #eee;

    > code, > code.hljs {
      display: initial;
      padding: 0;
      height: calc(100% - 30px);
      width: calc(100% - 30px);
      @include textarea-font;
      overflow-y: scroll;
      overflow-x: auto;
    }
  }

  textarea {
    @include textarea-font;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 1px;
    z-index: 2;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    caret-color: black;
    resize: none;
  }
}

body > .fullscreen-component {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 9999; // matches the z-index from ContentTools toolbars
  background-color: white;
  .html-editor {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    .cms-html-textarea {
      flex-grow: 1;
      max-height: initial;
    }
  }
}

.ct-properties-dialog__code .cms-html-textarea {
  textarea.ct-properties-dialog__inner-html, .hljs {
    padding: 0 !important;
    white-space: pre-wrap;
  }

  textarea.ct-properties-dialog__inner-html {
    height: inherit;
    overflow-y: hidden;
  }

  pre {
    height: 100%;
    width: 100%;
  }
}
